<div class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="#"><i class="bi bi-people"></i> Technicians</a></li>
        <li><a href="{% url 'ticket_list' %}"><i class="bi bi-list-task"></i> Queues</a></li>
        <li><a href="#"><i class="bi bi-person-lines-fill"></i> My Tickets</a></li>
        <li><a href="#"><i class="bi bi-ticket-detailed"></i> Service Requests</a></li>
        <li><a href="#"><i class="bi bi-exclamation-triangle"></i> Incidents</a></li>
    </ul>
</div>
